In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [3]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [5]:
slide_elem.find("div", class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### Featured Images

In [8]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [10]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [11]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:
# Find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA14316_hires.jpg'

In [13]:
# Use the base URL to create an absolute URL
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14316_hires.jpg'

In [14]:
!pip install lxml

Requirement already satisfied: lxml in /opt/anaconda3/envs/test/lib/python3.8/site-packages (4.6.1)

In [15]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
browser.quit()

### New Code

In [18]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [19]:
# Path to chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [20]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

### Visit the NASA Mars News Site

In [21]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [22]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [23]:
slide_elem.find("div", class_='content_title')

In [24]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [25]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### JPL Space Images Featured Image

In [26]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [27]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [28]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [29]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [30]:
# find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA14316_hires.jpg'

In [31]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14316_hires.jpg'

### Mars Facts

In [32]:
df = pd.read_html('http://space-facts.com/mars/')[0]

df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [33]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [34]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [35]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [36]:
# Parse the data
html = browser.html
weather_soup = soup(html, 'html.parser')

In [37]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation" style="width:100%;">
 <thead>
  <tr>
   <th colspan="2" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Oct. 30, 2020
   </th>
   <th class="sol" scope="row">
    685
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      10.6° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -11.9° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -71.8° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -57.7° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -142.9° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -97.2° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     41
    </span>
    <span class="mps" style="display:none">
     18.3
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     13.4
    </span>
    <span class="mps" style="display:none">
     6
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.6
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    757.6
   </td>
   <td class="pressure avg">
    739.5
   </td>
   <td class="pressure min">
    715.8
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Oct. 29, 2020
   </th>
   <th class="sol" scope="row">
    684
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -0.1° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -17.9° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -83.6° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -64.2° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -139.8° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.5° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    762.1
   </td>
   <td class="pressure avg">
    744.5
   </td>
   <td class="pressure min">
    718.7
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Oct. 25, 2020
   </th>
   <th class="sol" scope="row">
    681
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      24° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -4.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -80.4° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -139.8° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.4° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     41.6
    </span>
    <span class="mps" style="display:none">
     18.6
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     12.6
    </span>
    <span class="mps" style="display:none">
     5.6
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.5
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    760.2
   </td>
   <td class="pressure avg">
    743.6
   </td>
   <td class="pressure min">
    718.5
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [38]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html

In [39]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
#HTML object
hemisphere_html = browser.html

#Parse HTML with Beautiful Soup
hemisphere_soup = soup(hemisphere_html, 'html.parser')

#Retreive all items that contain mars hemispheres information
items = hemisphere_soup.find_all('div', class_='item')



#store the main url
main_hemisphere_url = 'https://astrogeology.usgs.gov'
for i in items:
    #store title
    title = i.find('h3').text


    #store the link to image
    image_url = i.find('a', class_='itemLink product-item')['href']

    #visit the link for the full image website
    browser.visit(main_hemisphere_url + image_url)
    
    #HTML object for individual hemisphere sites
    image_url = browser.html    
    
    #Parse HTML with Beautiful Soup for each hemisphere
    image_soup = soup(image_url, 'html.parser')
    
    #image pate
    hemisphere_img_path = image_soup.find('img', class_='wide-image')['src']
    
    #retrieve full image source
    full_img_url = f'https://astrogeology.usgs.gov{hemisphere_img_path}'
    
    #append title and urls to list
    hemisphere_image_urls.append({
        "full_image_url": full_img_url,
        "title": title
    })

In [40]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'full_image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'full_image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'full_image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'full_image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [41]:
# 5. Quit the browser
browser.quit()